version: "3.9"

services:
  frontend:
    build: ./frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://admin:password@db:5432/appdb

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: appdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  nexus:
    image: sonatype/nexus3
    container_name: nexus
    restart: always
    ports:
      - "8081:8081"

  sonarqube:
    image: sonarqube:lts
    container_name: sonarqube
    restart: always
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://db:5432/appdb
      - SONAR_JDBC_USERNAME=admin
      - SONAR_JDBC_PASSWORD=password
    ports:
      - "9000:9000"
    depends_on:
      - db

volumes:
  postgres_data:
