name: Deploy Fullstack to EC2

on:
  push:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Install Sonar Scanner
      - name: Install Sonar Scanner
        run: |
          sudo apt update
          sudo apt install unzip -y
          wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-5.0.1.3006-linux.zip
          unzip sonar-scanner-cli-*.zip
          sudo mv sonar-scanner-* /opt/sonar-scanner
          echo "/opt/sonar-scanner/bin" >> $GITHUB_PATH

      # SonarQube Code Analysis
      - name: Run SonarQube Scan
        run: |
          sonar-scanner \
          -Dsonar.projectKey=fullstack-project \
          -Dsonar.sources=backend,frontend \
          -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      # Login to Nexus
      - name: Login to Nexus
        run: |
          echo "${{ secrets.NEXUS_PASSWORD }}" | docker login \
          ${{ secrets.NEXUS_URL }} \
          -u ${{ secrets.NEXUS_USERNAME }} \
          --password-stdin

      # Build Docker Image
      - name: Build Docker Image
        run: docker build -t fullstack-app .

      # Tag Image
      - name: Tag Image
        run: docker tag fullstack-app \
          ${{ secrets.NEXUS_URL }}/docker-hosted/fullstack-app:latest

      # Push Image to Nexus
      - name: Push Image to Nexus
        run: docker push \
          ${{ secrets.NEXUS_URL }}/docker-hosted/fullstack-app:latest

      # Deploy to EC2
      - name: Deploy to EC2 Server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            echo "Connected to EC2"
            cd ~/fullstack-project

            echo "Pull latest Docker image"
            docker pull ${{ secrets.NEXUS_URL }}/docker-hosted/fullstack-app:latest

            echo "Stopping old containers"
            docker-compose down

            echo "Starting containers"
            docker-compose up -d

            echo "Deployment completed"
